@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

.App {
  background-color: rgb(240, 219, 233);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.quote {
  background: url(./assets/bg.jpeg);
  background-size: cover;
  width: 550px;
  height: 420px;
  border-radius: 10px;
  padding: 80px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.quote h2 {
  color: rgb(245, 212, 212);
  font-size: 1.7em;
  font-family: 'Lobster', cursive;
}

.quote small {
  color: rgb(234, 238, 32);
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

.btn {
  display: block;
  border: 2px solid #008CBA;
  background: transparent;
  padding: 10px 15px;
  color: #008CBA;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 1s, color 1s;
}

.btn:hover {
  background: #008CBA;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 28.75em) {
  .quote {
    margin: 0;
    margin-bottom: 20px;
    height: 350px;
    width: 350px;
  }
}
